@import url(http://reset5.googlecode.com/hg/reset.min.css);
body {
	width: 100%;
	text-align: center;
}
#wrapper {
	display: block;
	margin: auto;
}
#details_form {
	text-align: center;
	margin: auto;
}
#astrology p {
	width: 75%;
	margin: auto;
	text-align: justify;
	padding-top: 10px;
}
