@import url(http://reset5.googlecode.com/hg/reset.min.css);
body {
	width: 100%;
	text-align: center;
}
#wrapper {
	display: block;
	margin: auto;
}
#pageone #details_form {
	margin: auto;
	text-align:left;
	width: 75%;
}
#pagetwo #astrology{
width: 75%;
	margin: auto;
	text-align: justify;
	margin-top:20px;
}
